.things {
    background: #FAFAFA;

    @media screen and (min-width: 1200px) {
        padding: 120px 0;
    }

    &__title {
        margin-bottom: 4rem;
    }

    &-item {
        color: inherit;
        text-decoration: none;
        height: 100%;
        display: block;

        &:hover {
            color: inherit;
        }

        &__img {
            margin-bottom: 2rem;
        }

        &__name {
            margin-bottom: 0.75rem;
        }

        &__text {
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 768px) {
        &__col {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }

    @media screen and (max-width: 767px) and (min-width: 460px) {
        &-item {
            &__img {
                float: left;
                width: 50%;
                margin-right: 1.5rem;
                margin-bottom: 0;
            }

            &__name,
            &__text {
                margin-left: calc(50% + 1.5rem);
            }
        }
    }

    @media screen and (max-width: 767px) {
        &__title {
            margin-bottom: 3rem;
        }
    }

    @media screen and (max-width: 575px) {
        &__title {
            margin-bottom: 2rem;
            text-align: center;
        }
    }


    @media screen and (max-width: 459px) {
        &-item {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;

            &__img {
                margin-bottom: 1rem;
            }
        }
    }
}