.venue {
    @media screen and (min-width: 1200px) {
        padding: 120px 0;
    }

    &__title {
        margin-bottom: 3rem;
    }

    &__image {
        margin-bottom: 2rem;
        position: relative;

        &-pic {
            width: 100%;
        }

        &-label {
            position: absolute;
            top: -15px;
            right: -15px;
            max-width: 30%;
        }
    }

    &__row {
        margin-bottom: 2.5rem;
    }


    &-info {
        &__title {
            margin-bottom: 0.7rem;
        }

        &__text {
            margin-bottom: 0;
        }
    }

    &__btn {
        display: block;
        max-width: 270px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1400px) {
        &__container {
            max-width: 1140px;
        }

        &__image {
            &-label {
                top: -30px;
                right: -30px;
            }
        }
    }

    @media screen and (max-width: 767px) {
        &__title {
            margin-bottom: 1.5rem;
        }

        &__img {
            margin-bottom: 1rem;
        }

        &__row {
            margin-bottom: 1.5rem;
        }

        &__col {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }
}